<div class="bg-gradient">
    <div class="row">
      <div class="col">
        <button type="" >Nueva partida</button>
       
        <h3>PARTIDAS DISPONIBLES</h3>
        <br>
        <table class="table" style="width: 50%">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Partida</th>
             
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Barquito</td>
             
              <td>
                <button class="btn btn-info">unirse</button>
              </td>
  
              
            </tr>
          </tbody>
  
        </table>
      
  
      </div>